<html>
<head>
<style>
a{
background-color:lightgrey;
width:8vw;
height:8vh;
text-decoration:none;
}
.main{
border:1px black solid;
width:50vw;
padding:3%;

}
</style>
</head>
<body>
<center>
<div class="main"> 

Please select an option below to proceed<br>
</div>
</center>

</body>
</html>
